{% extends 'base.html.twig' %}

{% block title %}Sign-in Page{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>

            <div class="col-md-4">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>

            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock  %}