{% if pages is defined %}
    {% for page in pages %}
        <tr class="text-center" data-id="{{ page.id }}">
            <td>{{ page.id }}</td>
            <td>
                <a  class="page_route" href="{{ page.route }}">{{ page.name }}</a>
            </td>
            <td>
                <i class="fa fa-pencil-square-o pointer update_page" aria-hidden="true" title="Edit Page"></i>
            </td>
        </tr>
    {% endfor %}
{% endif %}