<h3 class="text-center"> Web Site Name </h3>

<form data-toggle="validator" role="form" id="website_name_form">
    <div class="form-group form-inline">
        <label for="site_name" class="control-label">Website Name :</label>
        <input id="site_name" name="siteName" type="text" value="{{ name }}"
               class="form-control site_name" required/>
        <div class="help-block with-errors"></div>

        <button type="submit" class="btn btn-primary save">Save</button>
    </div>

</form>